<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifan.book.dao.UserDao">

    <resultMap id="user" type="com.ifan.book.model.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="DATE"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="integral" property="integral" jdbcType="FLOAT"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>

    <!--登录-->
    <select id="login" resultType="java.util.Map">
        SELECT id,status FROM user
        WHERE account=#{account}
        AND password=#{password}
    </select>
    <!--注册-->
    <insert id="register" parameterType="com.ifan.book.model.User">
        INSERT INTO user
        (account,password,name,latitude,longitude) VALUES
        (#{account},#{password},#{name},#{latitude},#{longitude})
    </insert>
    <!--更新个人信息-->
    <update id="updateUserBaseInfo" parameterType="com.ifan.book.model.User">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="image!=null">image=#{image},</if>
            <if test="intro!=null">intro=#{intro},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <!--更新位置-->
    <update id="updateUserPosition">
        UPDATE user
        SET latitude=#{latitude},
        longitude=#{longitude}
        WHERE id=#{id}
    </update>
    <update id="updateUserPassword">
        UPDATE user
        SET passowrd=#{password}
        WHERE id=#{id}
    </update>
    <update id="updateUserIntegral">
        UPDATE user
        SET integral=integral+#{integral}
        WHERE id=#{id}
    </update>

    <update id="updateUserStatus">
        UPDATE user
        SET status=#{status}
        WHERE id=#{id}
    </update>

    <select id="getUserInScope" resultMap="user">
        SELECT * FROM user
        WHERE ( longitude-#{scope} &lt;#{longitude} OR longitude+#{scope} &gt;#{longitude} ) AND
        (latitude-#{scope} &lt; #{latitude} OR latitude+#{scope} &gt; #{latitude});
    </select>
    <!-- 查询 借阅 评论 预约 收藏数量 start-->
    <select id="getSizeBorrow" resultType="java.lang.Integer">
        SELECT COUNT(book_id)
        FROM borrow
        WHERE user_id=#{id}
        AND (status =1 OR  status=0)
    </select>
    <select id="getSizeComment" resultType="java.lang.Integer">
        SELECT COUNT(comment)
        FROM borrow
        WHERE user_id=#{id}
        AND comment!=NULL
    </select>
    <select id="getSizeReserve" resultType="java.lang.Integer">
        SELECT COUNT(book_id)
        FROM reserve
        WHERE user_id=#{id}
    </select>
    <select id="getSizeCollect" resultType="java.lang.Integer">
        SELECT COUNT(book_id)
        FROM collect
        WHERE user_id=#{id}
    </select>
    <!-- end -->

    <select id="getUserBaseInfo" resultMap="user">
        SELECT * FROM user
        WHERE id=#{id}
    </select>

    <select id="getUserLocation" resultType="java.util.HashMap">
        SELECT longitude,latitude
        FROM user
        WHERE id=#{id}
    </select>

    <select id="checkAccount" resultType="java.lang.Integer">
        SELECT id FROM user
        WHERE account=#{account}
    </select>

    <select id="getSizeAllUser" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM user
    </select>
    <select id="getUserByCondition" resultType="java.util.HashMap">
        SELECT id,name
        FROM user
        WHERE account LIKE ${condition}
        OR name LIKE ${condition}
    </select>
    <update id="reserveAffirm">
        UPDATE borrow
        SET comment=#{comment},
        giveMark=#{giveMark}
        WHERE book_id=#{book_id}
        AND user_id=#{borrow_id}
    </update>
    <update id="affirmGiveMe" parameterType="java.lang.Integer">
        UPDATE reserve
        SET give_me=TRUE
        WHERE user_id=#{reserve_id}
        AND book_id=#{book_id}
    </update>
    <update id="borrowAffirm" parameterType="java.lang.Integer">
        UPDATE borrow
        SET status=#{status}
        WHERE book_id=#{book_id}
        AND user_id=#{borrow_id}
    </update>
    <select id="getFirstReserve" resultType="java.lang.Integer">
        SELECT user_id
        FROM reserve
        WHERE book_id=#{book_id}
        ORDER BY reserveDate DESC
        limit 1
    </select>
    <insert id="addBorrow" parameterType="java.lang.Integer">
        INSERT INTO borrow
        (book_id, user_id, borrowDate, returnDate, status) VALUES
        (#{book_id},#{reserve_id},now(),date_add(NOW(), interval 1 MONTH),#{status})
    </insert>
    <delete id="deleteReserve">
        DELETE FROM reserve
        WHERE book_id=#{book_id}
        AND user_id=#{user_id}
    </delete>

    <select id="getReserveGiveMe" resultType="java.lang.Boolean">
      SELECT give_me
      FROM reserve
      WHERE book_id=#{book_id}
      AND user_id=#{reserve_id}
    </select>
    <insert id="reserveBook" parameterType="java.lang.Integer">
        INSERT INTO reserve
        (book_id, user_id, reserveDate, give_me) VALUES
        (#{book_id},#{reserve_id},now(),FALSE )
    </insert>


</mapper>